@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary text-main-fs text-secondary font-montserrat antialiased h-full relative after:absolute after:top-0 after:right-0 after:w-3/5 after:md:w-1/4 after:aspect-square after:bg-red-500 after:rounded-bl-full selection:bg-secondary selection:text-primary;
  }

  h1 {
    @apply font-bold text-headline;
  }
  h2 {
    @apply text-subheadline;
  }
  h3 {
    @apply text-caption;
  }
  h4 {
    @apply text-title;
  }
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background-color: theme(colors.extra);
}

::-webkit-scrollbar-thumb {
  background-color: theme(colors.secondary);
  border-radius: 10rem;
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  -webkit-text-fill-color: theme(colors.secondary);
  -webkit-box-shadow: 0 0 0px 1000px theme(colors.primary) inset;
}

:-webkit-autofill::selection {
  -webkit-text-fill-color: theme(colors.primary);
}
